- add_to_breadcrumbs _("Compare Revisions"), project_compare_index_path(@project)
- page_title "#{params[:from]}...#{params[:to]}"

.sub-header-block.no-bottom-space
  .js-signature-container{ data: { 'signatures-path' => signatures_namespace_project_compare_index_path } }
    #js-compare-selector{ data: project_compare_selector_data(@project, @merge_request, params) }

- if @commits.present?
  -# Only show commit list in the first page
  - hide_commit_list = params[:page].present? && params[:page] != '1'
  = render "projects/commits/commit_list" unless hide_commit_list
  = render "projects/diffs/diffs",
    diffs: @diffs,
    environment: @environment,
    diff_page_context: "is-compare",
    page: pagination_params[:page],
    paginate_diffs: true,
    paginate_diffs_per_page: Projects::CompareController::COMMIT_DIFFS_PER_PAGE
- else
  = render Pajamas::CardComponent.new(card_options: { class: "gl-bg-gray-50 gl-mb-5 gl-border-none gl-text-center" }) do |c|
    - c.body do
      %h4
        = s_("CompareBranches|There isn't anything to compare.")
      %p.gl-mb-4.gl-line-height-24
        - if params[:to] == params[:from]
          - source_branch = capture do
            %span.ref-name= params[:from]
          - target_branch = capture do
            %span.ref-name= params[:to]
          = (s_("CompareBranches|%{source_branch} and %{target_branch} are the same.") % { source_branch: source_branch, target_branch: target_branch }).html_safe
        - else
          = _("You'll need to use different branch names to get a valid comparison.")
